.container {
    max-width: 960px;
}

.bg-header {
    background-image: url("https://cdn.pixabay.com/photo/2017/07/06/21/57/makeup-2479611_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-brushes {
    background-image: url("https://cdn.pixabay.com/photo/2014/06/16/12/18/makeup-brushes-369776_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-sets {
    background-image: url("https://cdn.pixabay.com/photo/2020/04/02/05/19/beauty-4993471_960_720.jpg");
    background-size: cover;
}

.bg-paints {
    background-image: url("https://cdn.pixabay.com/photo/2014/09/18/14/28/blusher-450958_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}
