{% extends 'base.html.twig'%}

{% block body %}
    {% if product %}
        {% for item in product %}
<h1>It's {{ item.type }} works...</h1>
        <img height="200px" width="200px" src="{{ item.image }}" alt="{{ item.name }}">
        {% endfor %}
    {% endif %}
{% endblock %}